html {
    height: 100%;
} 
body {
    background-color: var(--body-background) !important; 
    color: var(--font-color);
    font: 100% var(--font-stack);
    color: var(--primary-color);  
    font-weight: var(--regular-font);  
}
//General-scss 
.font-family{
    font-family: 'DM Sans', sans-serif !important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
} 
//font-scss
@font-face {
    font-family: 'DMSansRegular';
    src: url('../fonts/DMSansRegular.eot');
    src: url('../fonts/DMSansRegular.eot') format('embedded-opentype'),
        url('../fonts/DMSansRegular.woff2') format('woff2'),
        url('../fonts/DMSansRegular.woff') format('woff'),
        url('../fonts/DMSansRegular.ttf') format('truetype'),
        url('../fonts/DMSansRegular.svg#DMSansRegular') format('svg');
}
@font-face {
    font-family: 'NunitoSansBold';
    src: url('../fonts/NunitoSansBold.eot');
    src: url('../fonts/NunitoSansBold.eot') format('embedded-opentype'),
        url('../fonts/NunitoSansBold.woff2') format('woff2'),
        url('../fonts/NunitoSansBold.woff') format('woff'),
        url('../fonts/NunitoSansBold.ttf') format('truetype'),
        url('../fonts/NunitoSansBold.svg#NunitoSansBold') format('svg');
}
@font-face {
    font-family: 'NunitoSansLight';
    src: url('../fonts/NunitoSansLight.eot');
    src: url('../fonts/NunitoSansLight.eot') format('embedded-opentype'),
        url('../fonts/NunitoSansLight.woff2') format('woff2'),
        url('../fonts/NunitoSansLight.woff') format('woff'),
        url('../fonts/NunitoSansLight.ttf') format('truetype'),
        url('../fonts/NunitoSansLight.svg#NunitoSansLight') format('svg');
}
@font-face {
    font-family: 'NunitoSansRegular';
    src: url('../fonts/NunitoSansRegular.eot');
    src: url('../fonts/NunitoSansRegular.eot') format('embedded-opentype'),
        url('../fonts/NunitoSansRegular.woff2') format('woff2'),
        url('../fonts/NunitoSansRegular.woff') format('woff'),
        url('../fonts/NunitoSansRegular.ttf') format('truetype'),
        url('../fonts/NunitoSansRegular.svg#NunitoSansRegular') format('svg');
}
@font-face {
    font-family: 'NunitoSansSemiBold';
    src: url('../fonts/NunitoSansSemiBold.eot');
    src: url('../fonts/NunitoSansSemiBold.eot') format('embedded-opentype'),
        url('../fonts/NunitoSansSemiBold.woff2') format('woff2'),
        url('../fonts/NunitoSansSemiBold.woff') format('woff'),
        url('../fonts/NunitoSansSemiBold.ttf') format('truetype'),
        url('../fonts/NunitoSansSemiBold.svg#NunitoSansSemiBold') format('svg');
}
@font-face {
    font-family: 'NunitoSansSemiBoldItalic';
    src: url('../fonts/NunitoSansSemiBoldItalic.eot');
    src: url('../fonts/NunitoSansSemiBoldItalic.eot') format('embedded-opentype'),
        url('../fonts/NunitoSansSemiBoldItalic.woff2') format('woff2'),
        url('../fonts/NunitoSansSemiBoldItalic.woff') format('woff'),
        url('../fonts/NunitoSansSemiBoldItalic.ttf') format('truetype'),
        url('../fonts/NunitoSansSemiBoldItalic.svg#NunitoSansSemiBoldItalic') format('svg');
}
@font-face {
    font-family: 'DMSansBold';
    src: url('../fonts/DMSansBold.eot');
    src: url('../fonts/DMSansBold.eot') format('embedded-opentype'),
        url('../fonts/DMSansBold.woff2') format('woff2'),
        url('../fonts/DMSansBold.woff') format('woff'),
        url('../fonts/DMSansBold.ttf') format('truetype'),
        url('../fonts/DMSansBold.svg#DMSansBold') format('svg');
}
@font-face {
    font-family: 'DMSansMedium';
    src: url('../fonts/DMSansMedium.eot');
    src: url('../fonts/DMSansMedium.eot') format('embedded-opentype'),
        url('../fonts/DMSansMedium.woff2') format('woff2'),
        url('../fonts/DMSansMedium.woff') format('woff'),
        url('../fonts/DMSansMedium.ttf') format('truetype'),
        url('../fonts/DMSansMedium.svg#DMSansMedium') format('svg');
}
//common-scss
.no-padding{
    padding: 0px;
}
.button:focus{  
    outline: none;
    box-shadow: none;
}
.container {
    overflow: hidden;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0; 
}
a{outline: none;
  color: var(--primary-color  !important); 
}
input[type="text"] 
{
    min-width: 200px;
}
.button:focus {
    outline: none;
}
#checkbox {
    margin: 30px;
}
button:focus {
    outline: none !important; 
}
.red-font{
    color: #f23658 !important; 
}
.white-font{
    color:var(--white)!important;   
}
.edit-icon {
    margin-left: 8px;
    font-size: 13px; 
}
.yellowish{
    color:var(--yellowish-color)!important;
}
.green-font{
    color:var(--green-color)!important;
}
//chart-scss
#users, #messages{ 
    .highcharts-point {
        display: none;
    }
}
.highcharts-root {
    max-width: 100%  !important;
    min-width: 100% !important;
} 
.highcharts-point.highcharts-point-hover {
    display: block !important;
}
.dropdown-menu.show {
    display: none;
}
.normal{
    background: var(--normal-bg-color);
}
.above{
    background: var(--above-bg-color);
}
.high{
    background: var(--high-bg-color);
}
.very-high{ 
    background: var(--very-high-bg-color);
}
//search-styles
.fa.fa-search {
    color: var(--primary-color);
}
.search-container {
    display: none;
}

//chart-legand-color
html.dark span.sub_icon.light-icon {
    display: none;
} 
html.light span.sub_icon.dark-icon { 
    display: none;
}  

html.dark {
    .light-icon{
        display: block;
    } 
    .dark-icon {
        display: none;
    } 
}
html.light {

    .dark-icon {
        display: none;
    } 
    .light-icon{
        display: block;
    } 
}

html.dark {
    span.sub_icon.light-icon{
        display: block;
    } 
    span.sub_icon.dark-icon {
        display: none;
    } 
}

html.light {
    span.sub_icon.light-icon{
        display: block;
    } 
    span.sub_icon.dark-icon {
        display: none;
    } 
}

.header {         
    .mobile-small-size{
        display: none;
        max-width: 100%;
        overflow: hidden;
        border-radius:90px;
        .search-container{
            width: 90%; 
            display: block;
            margin: 0 auto; 
        }
        input#search-bar{
            margin: 15px auto;
            width: 100%;
            height: 45px;
            padding: 0 20px;
            font-size: 1rem;
            border: 1px solid var(--navyblue); 
            outline: none;
            background: var(--navyblue); 
            color: var(--white); 
            border-radius: 90px;
            font-size: 15px;
            &:focus{
                border: 1px solid var(--primary-bg-color); 
                transition: 0.35s ease;
                color: #008ABF;
                &::-webkit-input-placeholder{
                    transition: opacity 0.45s ease; 
                    opacity: 0;
                }
                &::-moz-placeholder {
                    transition: opacity 0.45s ease; 
                    opacity: 0;
                }
                &:-ms-placeholder {
                    transition: opacity 0.45s ease; 
                    opacity: 0;
                }    
            }
        }
        .search-icon{
            position: relative;
            float: right;
            width: 75px;
            height: 75px;
            top: -50px; 
            right: -45px;
        }
    } 
}

/*@media (max-width:767px) {

    #wrapper {
        padding-left: 40px;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 40px;
    }
    #wrapper.active {
        padding-left: 120px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 120px;
        width: 120px; 
        transition: all .4s ease 0s;
    }

} */