// Variables
:root {
    --primary-color: #818e99;  
    --body-background: #021c33; 
    --sidebar-wrapper-bg:#112943;
    --primary-bg-color: #22c3aa; 
    --border-color: #2c3a5f; 
    --content-border: #11293d; 
    --con-header: #233249; 
    --container-subheading:#fff;
    --navyblue: #233249; 
    --nav-border: #979797; 
    --darkblue-bg-color: #182f44;   
    --lightblue-bg-color: #2d4254; 
    --font-color: #2d4254;
    --lightgreen:#22c3aa;
    --ellipsis-color:#fff;
    --heading-color:#fff;
    --tab-active-color:#fff;
    --text-white:#fff; 
    --navli-font-color:#a4a8ad; 
    --yellowish-color:#bf9f1c; 
    --Tealish-Grey-color:#22c3aa ;
    --green-color:#22c3aa ;
    --elite-bg:#1a3349; 
    --gold-bg:#5c4c0b; 
    --platinium-bg:#414d5a;
    --progress-box-shadow: #C80000;  
    --tab-border-active-color:#fff;
    --spinal-chart-bg-color:#22c3aa; 
    //chart-js-color 
    --chart-bg-color:#021c33; 
    --chartgridLineColor:#33393f;
    --bar-chartgridLineColor:#203547;
    --bar-label-Color:#fff;
    --bar-label-Color-y-axis:#a4a8ad;
    --chart-series-Color:#22c3aa;
    --bar-strip-label-Color:rgb(36, 199, 175);
    --bar-strip-sec-label-Color:#77beff;
    --chart-tooltip-background-Color:rgba(35, 50, 73, 1);
    --chart-tooltip-border-Color:rgba(35, 50, 73, 1);
    --chart-tooltip-text-Color:#fff;
    --barchart-shadow-color:rgba(238,241,243,0.2);  
    --icon-hover-button:#0e99ff; 
    --trader-number-bg:#818d99;
    //sidebar-images-path
    --icon-grid: url('assets/images/dashboard-icon/grid.png');
    --icon-award: url('assets/images/dashboard-icon/award.png');
    --icon-film: url('assets/images/dashboard-icon/film.png');
    --icon-user: url('assets/images/dashboard-icon/user.png');
    //sidebar-images-hover
    --icon-grid_hover: url('assets/images/dashboard-icon/grid_hover.png');
    --icon-award_hover: url('assets/images/dashboard-icon/award_hover.png');
    --icon-film_hover: url('assets/images/dashboard-icon/film_hover.png');
    --icon-user_hover: url('assets/images/dashboard-icon/user_hover.png');
    --icon-hover-bg:#233249;
    --icon-hover-text:#22c3aa;
    --icon-dropdown: url('assets/images/dropdown-icon/red-dropdown.png');
    --icon-dropdown_hover: url('assets/images/dropdown-icon/green-dropdown.png'); 
    --icon-sticks: url('assets/images/sticks.png');
    --icon-sticks_hover: url('assets/images/sticks.png'); 
    --icon-member: url('assets/images/user.png');
    --icon-member_hover: url('assets/images/user.png');
    --icon-candle: url('assets/images/candle.png');
    --icon-candle_hover: url('assets/images/candle.png'); 
    --icon-bar: url('assets/images/bar.png'); 
    --icon-bar_hover: url('assets/images/bar.png');
    --icon-setting: url('assets/images/setting.png'); 
    --icon-setting_hover: url('assets/images/setting.png');
    --hr-line:#34445d;
    --number-bg:#fff;
    --number-text-color:#021c33;
    //common-color
    --white:#fff;
    --black:#000;
    --dark-blue:#031926; 
    --login-bg :#031926;
    --red:#f23658;
    --green:#22c3aa; 
    --table-grey-color: #6c747d;   
    //font-weight-Variables 300,400,600,700,800
    --light-font:300;
    --regular-font:400; 
    --bold-font:600; 
    --semibold-font:700;
    --extra-bold-font:800;
    --regular-font-size:14px; 
    //chart-legand-color 
    --normal-bg-color: #77beff;  
    --above-bg-color: #a096ff;
    --high-bg-color: #fee57d; 
    --very-high-bg-color: #f06170;
    // login-color 
    --bg-image: url('assets/images/cryptotradersBackground.jpg');
    --logo: url('assets/images/ct-logo.png');
    --logo-responsive: url('assets/images/ct-logo-responsive.png'); 
    --green-button-color:  #01dba2;
    --inut-form-color:#818c93;
    --fb-bg:#4267b2;
    --discord-bg:#7289da;
    --login-text-color: rgba(255, 255, 255, 0.5); 
    --chat-btn:#fff; 
    // leaderboard page-color
    --table-green-bg:  #22c3aa;
    --table-red-bg:#f06170;
    --table-bottom-border-color:#203547;
    --select-border:#fff;
    --back-button:#818d99; 
} 
 
// Variables
:root[data-theme="dark"] {   
    --primary-color: #808d99;   
    --body-background: #efefef; 
    --sidebar-wrapper-bg:#fff;
    --primary-bg-color: #22c3aa;
    --container-subheading:#acb4bb;
    --border-color: #d6d6d6;  
    --content-border: #dfdfdf; 
    --con-header: #fff; 
    --navyblue: #d6d6d6; 
    --nav-border: #d6d6d6; 
    --darkblue-bg-color: #fff;   
    --lightblue-bg-color: #dddddd; 
    --font-color: #2d4254;
    --lightgreen:#358bdc;
    --ellipsis-color:#bfc6cc;
    --heading-color:#a6aeb5;
    --tab-active-color:#808d99; 
    --tab-border-active-color:#b7bec4;
    --chart-bg-color:#efefef !important; 
    --white:    #888e93;
    --text-white:#fff; 
    --navli-font-color:#bcc2c7;
    --spinal-chart-bg-color:#358bdc;
    //chart-js-color
    --chartgridLineColor:#dddddd;
    --chart-series-Color:#358bdc;
    --bar-chartgridLineColor:#dddddd;
    --bar-label-Color:#808d99;
    --bar-strip-label-Color:rgb(73, 141, 206);
    --bar-strip-sec-label-Color:#22c3aa;
    --chart-tooltip-background-Color:#fff; 
    --chart-tooltip-border-Color:#fff;
    --bar-label-Color-y-axis:#b7bec4;
    --chart-tooltip-text-Color:#808d99;
    --barchart-shadow-color:#a4a8ad;  
    --table-bottom-border-color:#dddddd;
    --select-border:#dddddd;  
    --trader-number-bg:#d3d0d0;    


    --bg-image: url('assets/images/xtrades-bg.jpg');
    --logo: url('assets/images/Xtrades_Square_Dark2x.png');  
    --logo-responsive: url('assets/images/Xtrades_Square_Dark2x.png');  
    --login-bg :#302977;  
    //sidebar-images-images
    --icon-grid: url('assets/images/dashboard-icon/grid-light.png');
    --icon-award: url('assets/images/dashboard-icon/award-light.png');
    --icon-film: url('assets/images/dashboard-icon/film-light.png'); 
    --icon-user: url('assets/images/dashboard-icon/user-light.png');  
    //sidebar-images-hover
    --icon-grid_hover: url('assets/images/dashboard-icon/grid_hover-light.png'); 
    --icon-award_hover: url('assets/images/dashboard-icon/award_hover-light.png');
    --icon-film_hover: url('assets/images/dashboard-icon/film_hover-light.png');
    --icon-user_hover: url('assets/images/dashboard-icon/user_hover-light.png');
    --icon-dropdown: url('assets/images/dropdown-icon/red-dropdown.png');
    --icon-dropdown_hover: url('assets/images/dropdown-icon/blue-dropdown.png'); 

    --icon-sticks: url('assets/images/blue-sticks.png');
    --icon-sticks_hover: url('assets/images/sticks.png');  

    --icon-member: url('assets/images/blue-user.png');
    --icon-member_hover: url('assets/images/user.png');

    --icon-candle: url('assets/images/blue-candle.png'); 
    --icon-candle_hover: url('assets/images/candle.png');

    --icon-bar: url('assets/images/blue-bar.png');   
    --icon-bar_hover: url('assets/images/bar.png');

    --icon-setting: url('assets/images/setting.png'); 
    --icon-setting_hover: url('assets/images/setting.png');   

    --hr-line:#dfdfdf;
    --number-bg:#efefef;  
    --number-text-color:#808d99;
    --icon-hover-bg:#f0f1f1;
    --icon-hover-text:#0e99ff;  
    --table-grey-color: #acb1b7;    
    --icon-hover-button:#22c3aa;   
    --normal-bg-color: #77beff; 
}      