/*wrapper-page-scss-*/
#wrapper {
    /*#page-content-wrapper */
    #page-content-wrapper { 
        position: absolute;
        left: 60px;
        width: calc(100% - 60px);
        .page-contents { 
            display: inline-block;
            width: 100%;
            padding: 50px; 
            .container {  
                display: inline-block;
                min-width: 100%; 
                width: 100%;    
                padding: 0px;
                min-height: 100px;
                border-radius: 5px;
                margin-bottom: 50px;
                .container-content{
                    padding: 40px;
                    border: 2px solid var(--navyblue);
                    width: 100%;
                    display: inline-block;
                }
                .table-box{
                    .table {
                        min-width: 450px;
                        margin-bottom: 0px;
                        %table-property{         
                            padding: 15px 0px;
                            color: var(--primary-color);  
                            font-size: 14px;
                        }
                        th{  
                            @extend %table-property;
                            border: none !important; 
                        }
                        td{
                            border-bottom: 1px solid var(--border-color); 
                            @extend %table-property;
                            border-top: none;
                        }
                    }
                }
                .container-header {
                    width: 100%;
                    margin :0px;
                    background:var(--con-header);  
                    padding:20px 40px;
                    border-top-left-radius:5px;
                    border-top-right-radius: 5px;
                    float: left;
                    .leaderboard {
                        @extend %button-property-shared;
                        float: left;
                        padding: 10px 9px 9px;
                    }
                    .header-div{ 
                        float: left;  

                        h2 {
                            color:var(--container-subheading);
                            font-weight: var(--regular-font);
                            font-size: 20px;
                            margin: 0;
                            line-height: 24px;
                            display: table;
                            vertical-align: middle !important;
                        }
                        .trader-number{
                            position: absolute;
                            background: var(--chart-bg-color);  
                            background-position: center;
                            background-repeat: no-repeat;
                            margin-left: 10px;   
                            background-image: var(--icon-candle);
                            height: 36px;
                            border: 2px solid var(--lightgreen); 
                            border-radius: 100%;
                            width: 36px;
                            .text-number{
                                position: relative;
                                font-size: 12px; 
                                background-color: var(--lightgreen);
                                color: var(--con-header);
                                width: 20px;
                                height: 20px; 
                                top: -4px; 
                                right: -21px;
                                border-radius: 100%;
                                text-align: center;
                                line-height: 12px;
                                padding-top: 2px;
                                border: 2px solid var(--con-header);
                            }
                        }
                    }
                    .header-right-items{  
                        float: right;
                        margin-right: 0px; 
                    }
                    .fa.fa-ellipsis-v {
                        font-size: 24px;
                        padding: 0px;
                        float: right; 
                        line-height: 26px; 
                        color:var(--ellipsis-color);
                    }
                }
                .user-div{
                    position: absolute;
                    background: var(--chart-bg-color);  
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-left: 10px;   
                    background-image: var(--icon-member);
                    height: 36px;
                    border: 2px solid var(--lightgreen);
                    border-radius: 100%;
                    width: 36px;
                    .user-number{
                        position: relative; 
                        top: -4px;
                        right: -24px;
                        font-size: 12px;
                        background: var(--number-bg);
                        color: var(--number-text-color);
                        border-radius: 12px;
                        text-align: center;
                        display: table;
                        vertical-align: middle !important;
                        border: 2px solid var(--con-header);
                        padding: 0px 8px;
                    }
                }


                #watchlist-content-div{
                    background: transparent; 
                    width: 100%;
                    display: none;
                    .form-group {
                        margin-bottom: 1rem;
                        background: transparent;
                        border: 2px solid var(--navyblue);
                        border-radius: 7px;
                        width: calc(100% - 100px); 
                        color: var(--navli-font-color);
                        padding: 2px 10px;
                        margin: 20px 0px;
                    }
                    .submit-button{
                        @extend %button-property-shared;
                        float: right;
                        margin: 20px 0px;
                    }
                    .watchlist-list {
                        width: 100%;
                        display: inline-block;
                        margin: 5px 0px;
                        .content {
                            font-weight: var(--regular-font);
                            color: var(--navli-font-color);
                            font-size: 14px;
                            margin-bottom: 10px;
                            .left-content {
                                color: var(--white);
                                margin-right: 20px;
                                float: left;
                            }
                            .bold-font {
                                font-weight: var(--bold-font);
                                color: var(--white);
                                margin-left: 5px;
                            }
                        }
                    }
                }
                #diamond {
                    min-height: 415px;
                }
                .tabs {
                    .back{
                        background:var(--back-button);   
                    }
                    .Cancel-membership-button {
                        margin: 20px 10px 120px;
                        margin-bottom: 100px;
                        color:var(--text-white);                        
                    }                     
                    .confirm-cancel{ 
                        p {
                            color: var(--primary-color);
                            font-size: 18px;
                            text-align: center;
                            margin-top: 100px !important;
                        }
                    }
                    .progress { 
                        background-color: var(--lightblue-bg-color); 
                        border-radius: 50px; 
                        margin-bottom: 40px;  
                        .bg-blue{ 
                            background: var(--lightgreen); 
                            box-shadow: 5px 1px 11px rgba(34,195,170,.5); 
                            -webkit-box-shadow: 5px 1px 11px rgba(34,195,170,.5);
                            -moz-box-shadow: 5px 1px 11px rgba(34,195,170,.5);
                            border-radius: 90px;
                        }
                    }

                    h3 {
                        color:var(--white);
                        font-size: 20px;
                        margin: 20px 0px; 
                        .heading-text {
                            margin-top: 4px;
                        }
                        .text {
                            float: right;
                            font-size: 30px;
                            font-weight: var(--semibold-font);
                            color: var(--lightgreen);
                        } 
                    }

                    .content{
                        border-bottom:1px solid var(--content-border); 
                        padding: 1px 0 20px; 
                        li { 
                            font-size: 14px; 
                            margin: 10px 0px;
                            font-weight: var(--regular-font);
                            color:  var(--navli-font-color);
                            width: 100%;
                            display: inline-block;
                            .text-li {
                                color:var(--white); 
                                float: right;
                                font-size: 14px;
                                font-weight: var(--bold-font);
                            } 
                        }
                    }
                    .membership-level{
                        li {
                            color: var(--primary-color) !important;
                        }
                    }
                    .badge-button {
                        @extend %button-property-shared;
                    }
                    .nav-tabs {
                        border-bottom: 1px solid var(--nav-border);
                        margin-bottom: 70px;
                        .active {
                            color: var(--tab-active-color); 
                            border-bottom: 4px solid var(--tab-border-active-color);
                            padding-bottom: 30px;
                            display: inline-block;
                            width: 100%;
                        }
                    }
                    .nav{ 
                        li{
                            text-decoration: none;
                            width: 50%;
                            text-align: center;  
                            padding-bottom: 0px;
                            color:  var(--navli-font-color); 
                            a {
                                text-decoration: none;
                                border: none;
                                font-size: 14px;
                                font-weight: var(--semibold-font);
                                color:  var(--navli-font-color); 
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
            .barcontainer-ranking {
                background: var(--darkblue-bg-color);
                width: 416px;
                height: auto;
                border-radius: 5px;
                padding: 10px 22px;
                font-size: 14px; 
                margin: 0px auto;
                margin-bottom: 20px;
                div {
                    display: inline-block; 
                    width: auto;
                    margin: 0px 7px;
                    color: var(--navli-font-color);
                    %div-property {
                        width: 12px;
                        height: 12px;
                        border-radius: 4px;
                        float: left;
                        margin: 5px;
                    }
                    .lowdiv{
                        background: var(--lightgreen);
                        @extend %div-property;

                    } 
                    .normal{
                        background: var(--bar-strip-sec-label-Color);
                        @extend %div-property;
                    }
                    .above{
                        background: var(--above-bg-color);
                        @extend %div-property;
                    }
                    .high{
                        background: var(--high-bg-color);
                        @extend %div-property;
                    }
                }
            }
            #piecontainer {
                margin: 6px auto;
                max-width: 300px; 
                min-width: 170px;
            }
            #barcontainer{ 
                margin: 15px auto;
                margin-bottom: 0px;
            }
            .piechart-color{
                background: var(--darkblue-bg-color); 
                width: 156px;
                border-radius: 5px;
                margin: 40px 0px;
                padding: 15px 5px 20px 15px;
                font-size: 14px;
                div {
                    display: inline-block;
                    width: 100%;
                    margin: 6px 0px;
                    color: var(--primary-color);   
                    .lowdiv, .normal, .high, .very-high, .above{
                        background: var(--lightgreen);
                        width: 12px;
                        height: 12px;
                        border-radius: 4px;
                        float: left;
                        margin: 5px;
                    }
                    .lowdiv{
                        background: var(--lightgreen);
                    }
                    .normal{
                        background: var(--normal-bg-color);
                    }
                    .above{
                        background: var(--above-bg-color);
                    }
                    .high{
                        background: var(--high-bg-color);
                    }
                    .very-high{
                        background: var(--very-high-bg-color);
                    }
                }
            }

            /*chart-scss-*/
            .highcharts-button-symbol {
                display: none;
            }
            .highcharts-button-box {
                display: none;
            }
            .highcharts-credits {
                display: none;
            }
            .highcharts-legend-item.highcharts-column-series.highcharts-color-0.highcharts-series-0 {
                display: none;
            }
        }  
    }
} 
/*Responsive-scss-*/ 
@media screen and (max-width:1280px) { 
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                .container {
                    .tabs {
                        .nav-tabs {
                            margin-bottom: 40px; 
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px) { 
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                .barcontainer-ranking {
                    width: auto;
                    height: auto;
                    margin: 10px;
                    padding: 10px; 
                    ranking div {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1100px) and (min-width: 767px) {
    #wrapper { 
        #page-content-wrapper {
            .page-contents {
                .piechart-color {
                    width: auto;
                    height: auto;
                    float: none;
                    margin: 0px auto;
                    margin: 10px;
                }
                .container {
                    .tabs {
                        h3 {
                            .text {
                                font-size: 25px;
                            }
                            font-size: 16px;
                        }
                    }
                    .container-header {
                        padding: 8px 10px;
                        h2 {
                            font-size: 17px;
                        }
                        .dropdown-icon {
                            margin-left: 2px;
                            margin-top: 0;
                        }
                        .leaderboard {
                            padding: 6px 7px 5px;
                            margin: 0px 5px 0px 0px;
                        }
                        width: 100%;
                        display: inline-block;
                        margin: 0;
                        padding: 15px 15px; 
                    }
                }
                padding: 15px;
                margin-top: 15px;
            }
            .bar-number {
                right: 52px;

            }
        }
    }
}
@media only screen and (max-width: 880px) and (min-width: 767px){
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                .container {
                    .tabs {
                        .nav {
                            li {
                                a{
                                    font-size: 12.5px;
                                }  
                            }
                        }


                    }
                }
                .piechart-color {
                    margin: 5px;
                    padding: 15px 5px 20px 4px;
                }
            }
        }
    }
}
@media screen and (max-width:900px) { 
    #wrapper {
        #page-content-wrapper {
            .bar-number {

                right: 52px;

            }
            .page-contents {
                padding: 15px !important;
                margin-top: 15px;
                .container {
                    .container-content {
                        padding: 15px;
                    }
                    #diamond {
                        min-height: auto;
                    } 
                    .tabs {
                        .nav-tabs {
                            margin-bottom: 40px;
                        }
                    }                   
                    .table-box {
                        margin: 15px; 
                    }
                    .container-header {
                        padding: 25px 10px;
                    }               
                }
            }
        }
    }
} 
@media screen and (max-width:580px) { 
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                margin-top: 0;
                .container {
                    .tabs{
                        .badge-button {
                            margin-left: 5px;
                        }
                        h3 {
                            font-size: 18px;
                            .text {
                                font-size: 22px;
                            }
                        } 

                    } 

                    .piechart-color {
                        width: auto;
                        height: auto;
                        float: none;
                        margin: 0px auto !important;
                        margin-bottom: 20px  !important;
                        max-width: 200px; 
                    }

                    .container-header {
                        .fa.fa-ellipsis-v {
                            font-size: 22px;
                        }
                        h2 {
                            font-size: 16px;
                            margin-top: 4px;
                        }
                        .leaderboard {
                            margin-right: 10px;
                            padding: 8px 10px 7px;
                            margin-top: 2px;
                        }
                        .dropdown-icon {
                            margin-left: 5px  !important;
                        }
                    }
                    .table-box { 
                        margin: 0px;
                        .table{
                            th {
                                padding: 15px 10px;
                            }
                            td {
                                padding: 15px 10px;
                            }
                        }
                    }
                    .tabs {
                        .nav-tabs {
                            border-bottom: 0px solid #979797;
                            margin-bottom: 20px;
                            .active {
                                padding: 10px 0px;
                                background: var(--navyblue);
                            }
                        }
                        .nav {                          
                            li {
                                width: 100% !important;
                                padding: 10px 0px 10px; 
                            }
                        }
                    }
                }
                padding: 10px;
            }
        }
    }
} 
@media screen and (max-width:420px) { 
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                .container {
                    padding: 10px 5px;
                    .user-div {
                        display: none;
                    }
                    .container-header {
                        .fa.fa-ellipsis-v {
                            font-size: 20px;
                        }
                        h2 {
                            font-size: 15px;
                        }
                        .leaderboard {
                            margin-right: 5px;
                            padding: 8px 4px 7px; 
                            font-size: 11px;
                            margin: 0;
                        }
                    }

                }
            }
        }
    }
}
/*
@media screen and (max-width:380px) { 
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                .container {
                    .container-header { 
                        padding: 15px 5px;
                        .fa.fa-ellipsis-v {
                            font-size: 20px;
                        }
                        h2 { 
                            font-size: 15px;
                        }
                        .leaderboard {
                            margin-right: 4px;
                            padding: 8px 4px 7px; 
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
*/
/*@media screen and (max-width:350px) { 
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                .container {
                    .tabs{
                        h3 {
                            font-size: 16px;
                            .text {
                                font-size: 20px;
                            } 

                        } 
                    }
                }
            }
        }
    }
}
@media screen and (max-width:340px) { 
    #wrapper {
        #page-content-wrapper {
            .page-contents {
                .container {
                    .container-header {
                        .leaderboard { margin-right: 3px;
                                       padding: 8px 2px 7px;
                                       font-size: 10px;
                        }
                        h2 {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}  */


.bar-number{
    position: absolute;
    background: var(--chart-bg-color);  
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;   
    background-image: var(--icon-sticks); 
    height: 36px;
    border: 2px solid var(--lightgreen);
    border-radius: 100%; 
    width: 36px;
    right: 90px;
    .bar-text{   
        position: relative;
        width: 20px;
        height: 20px;
        top: -4px;
        right: -11px;
        background: var(--number-bg); 
        color: var(--number-text-color);
        border-radius: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        margin-left: 10px; 
        background-image: var(--icon-setting);
        border: 2px solid var(--con-header); 
    }
} 

#leaderboard-content-div {
    background: var(--con-header);
    top: 0; 
    li{
        background: var(--body-background) !important; 
        padding: 25px !important;
        color: var(--primary-color) !important; 
    }
    .hr-line{
        background: var(--hr-line);
    }
}
