/*product-page-scss-*/
.product-page {
    #page-content-wrapper {
        .page-contents {            
            .top-container{
                .tabs{
                    margin-bottom: 50px;
                }
            } 
            .container {
                .elite-bg {
                    background:var(--elite-bg) !important; 
                } 
                .gold-bg {
                    background:var(--gold-bg) !important; 
                }
                .platinum-bg {
                    background:var(--platinium-bg) !important; 
                }
                p {
                    float: left;
                    width: calc(100% - 190px);
                    color: var(--heading-color);              
                } 
                .right-div{ 
                    width: 190px;
                    float: right;
                    text-align: right;
                    .size {
                        text-align: left;
                        font-size: 15px;
                        color: var(--primary-color); 
                    }
                    .badge-button {
                        margin-left: 10px !important;
                        margin-bottom: 10px;
                        border: none;
                    } 
                }
                .product-tabs, .sec-tabs{
                    display: inline-block;
                    width: 100%;
                }
                .videos-tabs { 
                    .nav { 
                        li {
                            width: 33.3333333333% !important; 
                        }                       
                    }
                }
                .swim-tab {
                    .nav { 
                        li {
                            width: 20% !important;
                        }
                    }
                }
            } 
        }
    }
}

/*Responsive-scss-*/
@media screen and (max-width: 900px){
    .product-page {
        #page-content-wrapper {
            .page-contents { 
                padding: 15px!important;
                .container{
                    .tabs {
                        margin-top: 0 !important

                    }
                }
            } 
        }
    } 
}
@media screen and (max-width:650px) { 
    .product-page { 
        .sidebar-nav{
            .menu {
                margin: 22px 24px;
            }
        }
        .header { 
            height: 120px; 
            .desktop {
                display: none;
            }
            .mobile-small-size{
                display: block !important; 
            } 
        }
    }
}
@media screen and (max-width:580px) { 
    .product-page {
        #page-content-wrapper {
            .page-contents {
                .container {
                    .tabs{
                        .nav{
                            li:first-child {
                                padding-top: 0 !important; 
                            }
                        } 
                    }  
                }
            }
        }
    }
}
@media screen and (max-width:520px) { 
    .product-page {
        #page-content-wrapper {
            .page-contents {
                .container {
                    .right-div { width: 100%;
                                 margin-bottom: 15px;
                    }
                    p {
                        width: 100%;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}